In [44]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 數據：日累積雨量(每月更新)

In [45]:
df = pd.read_csv('https://quality.data.gov.tw/dq_download_csv.php?nid=34831&md5_url=2e910590d2dae6689b0aa4aa6350c85c')

In [46]:
df.head()

   SiteId SiteName Rainfall24hr DataSourceAgency MonitorDate
0      84      富貴角          7.4           行政院環保署  2019-09-30
1      84      富貴角         15.2           行政院環保署  2019-09-29
2      84      富貴角         46.8           行政院環保署  2019-09-28
3      84      富貴角         56.2           行政院環保署  2019-09-27
4      84      富貴角            0           行政院環保署  2019-09-26

#### 美化表格

In [47]:
df.columns

Index(['SiteId', 'SiteName', 'Rainfall24hr', 'DataSourceAgency',
       'MonitorDate'],
      dtype='object')

In [48]:
df.drop("SiteId", axis=1,inplace=True)
df.drop("DataSourceAgency", axis=1,inplace=True)

df.columns = ["地點",'日累積雨量','觀測日']
df.head()

    地點 日累積雨量         觀測日
0  富貴角   7.4  2019-09-30
1  富貴角  15.2  2019-09-29
2  富貴角  46.8  2019-09-28
3  富貴角  56.2  2019-09-27
4  富貴角     0  2019-09-26

## 富貴角的日累積雨量

In [50]:
df_sorted = df[(df.地點 == "富貴角")]

In [51]:
df_sorted

     地點 日累積雨量         觀測日
0   富貴角   7.4  2019-09-30
1   富貴角  15.2  2019-09-29
2   富貴角  46.8  2019-09-28
3   富貴角  56.2  2019-09-27
4   富貴角     0  2019-09-26
5   富貴角     0  2019-09-25
6   富貴角     0  2019-09-24
7   富貴角     0  2019-09-23
8   富貴角     0  2019-09-22
9   富貴角  60.4  2019-09-21
10  富貴角     0  2019-09-20
11  富貴角     0  2019-09-19
12  富貴角     0  2019-09-18
13  富貴角     0  2019-09-17
14  富貴角    .6  2019-09-16
15  富貴角   7.2  2019-09-15
16  富貴角   3.6  2019-09-14
17  富貴角     0  2019-09-13
18  富貴角    .8  2019-09-12
19  富貴角     0  2019-09-11
20  富貴角     0  2019-09-10
21  富貴角     0  2019-09-09
22  富貴角    16  2019-09-08
23  富貴角  25.6  2019-09-07
24  富貴角   8.8  2019-09-06
25  富貴角  26.8  2019-09-05
26  富貴角   4.6  2019-09-04
27  富貴角     0  2019-09-03
28  富貴角     0  2019-09-02
29  富貴角     0  2019-09-01

#### 失敗：日累積雨量為object 無法相加

In [59]:
df_sorted.日累積雨量

0      7.4
1     15.2
2     46.8
3     56.2
4        0
5        0
6        0
7        0
8        0
9     60.4
10       0
11       0
12       0
13       0
14      .6
15     7.2
16     3.6
17       0
18      .8
19       0
20       0
21       0
22      16
23    25.6
24     8.8
25    26.8
26     4.6
27       0
28       0
29       0
Name: 日累積雨量, dtype: object

#### 可以更好：用折線圖呈現每月降雨量