In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 數據：日累積雨量(每月更新)

In [2]:
df = pd.read_csv('https://quality.data.gov.tw/dq_download_csv.php?nid=34831&md5_url=2e910590d2dae6689b0aa4aa6350c85c')

In [3]:
df.head()

   SiteId SiteName Rainfall24hr DataSourceAgency MonitorDate
0      84      富貴角          7.4           行政院環保署  2019-09-30
1      84      富貴角         15.2           行政院環保署  2019-09-29
2      84      富貴角         46.8           行政院環保署  2019-09-28
3      84      富貴角         56.2           行政院環保署  2019-09-27
4      84      富貴角            0           行政院環保署  2019-09-26

In [32]:
df.tail()

     地點 日累積雨量         觀測日
995  善化     0  2019-09-25
996  善化     0  2019-09-24
997  善化     0  2019-09-23
998  善化     0  2019-09-22
999  善化     0  2019-09-21

In [33]:
df['日累積雨量'].sum()

'7.415.246.856.20000060.40000.67.23.60.80001625.68.826.84.60001.40000000000000000000103.4000.6003.825.4000000.214.827.4000035.80000.807.2035.81.4150016.20.2000000000000000000.20000000000xx000000000000000000000002.800012.80.2.600000000.806.800003.400.200.87.2.41.407.4000000100000000000004.213.41.237.20043.4.2000000000000001612.600014.25.2040.411.81.21238.4x1.876.826.8125.812.2.4000030.624.62.2.41.221.20000001.6.213.84619000.802100000000000.401.60005.8017.2.6.829.425020.875824.8.60.8000020.8211.810.2.839.40000000018.625.22.200064.42953.237.6.800002817.604.6.61.612.40000003.8.29.630.628.2000110.493.44812610901.60043401.4.42.82.2002.20009.23.21.822.432200060.8129.65072.2260.6005.60010.21.2011.200039.413.63.623.2131.400205.684.888.4103.660.40.200244.2197458.23476.48.206.20042013.860.442.800051.218.41.85.60015.25.850.400000000000000027.4004.6024.2002.2000.654.875.6000000000018.6016.4.49.40.20.626.2.21057.60001665.401.8000.662.40.6219.80446.81319.8121.425.239.20.817.800000000000072.2000.29.604.4.2157.8018.250.451.200.200000000000.26.21.200013.42.2.267.8036.838.64.41.6000000000001.200022.62.600014002170137.45.601.600000000000000015.210.400011.23.60421101229.24.200000000000000637.400xx0.238.242.8.4116.43.2.2.8.200000000000000043.800025020.62915.411127.4603000000000000000011.200011.6.83.2628.2.458.83.40200000000000000013.29.20008.60012.615.2.273.41.62.6.800000000000000042.4400031.4.2.22.417.8067.631.4x.200000000000000014.400011.43.81.21.223.41672.81.40000000000000001.8032.200018.80.8028.45.839.29.6.26.800000000000000.2022.400032.65.23023.6057.4601.2001000000000.23828.2028.624.800013.80.4087.2.819.641.4x.81.40000000000000.41.62.200074.80001.2074.45.200.60000000000003.67.2.8.20005000027.88.872.29.6020.21000000000'

#### 美化表格

In [4]:
df.columns

Index(['SiteId', 'SiteName', 'Rainfall24hr', 'DataSourceAgency',
       'MonitorDate'],
      dtype='object')

In [5]:
df.drop("SiteId", axis=1,inplace=True)
df.drop("DataSourceAgency", axis=1,inplace=True)

df.columns = ["地點",'日累積雨量','觀測日']
df.head()

    地點 日累積雨量         觀測日
0  富貴角   7.4  2019-09-30
1  富貴角  15.2  2019-09-29
2  富貴角  46.8  2019-09-28
3  富貴角  56.2  2019-09-27
4  富貴角     0  2019-09-26

## 富貴角的日累積雨量

In [6]:
df_sorted = df[(df.地點 == "富貴角")]

In [7]:
df_sorted

     地點 日累積雨量         觀測日
0   富貴角   7.4  2019-09-30
1   富貴角  15.2  2019-09-29
2   富貴角  46.8  2019-09-28
3   富貴角  56.2  2019-09-27
4   富貴角     0  2019-09-26
5   富貴角     0  2019-09-25
6   富貴角     0  2019-09-24
7   富貴角     0  2019-09-23
8   富貴角     0  2019-09-22
9   富貴角  60.4  2019-09-21
10  富貴角     0  2019-09-20
11  富貴角     0  2019-09-19
12  富貴角     0  2019-09-18
13  富貴角     0  2019-09-17
14  富貴角    .6  2019-09-16
15  富貴角   7.2  2019-09-15
16  富貴角   3.6  2019-09-14
17  富貴角     0  2019-09-13
18  富貴角    .8  2019-09-12
19  富貴角     0  2019-09-11
20  富貴角     0  2019-09-10
21  富貴角     0  2019-09-09
22  富貴角    16  2019-09-08
23  富貴角  25.6  2019-09-07
24  富貴角   8.8  2019-09-06
25  富貴角  26.8  2019-09-05
26  富貴角   4.6  2019-09-04
27  富貴角     0  2019-09-03
28  富貴角     0  2019-09-02
29  富貴角     0  2019-09-01

#### ~失敗：日累積雨量為object 無法相加~

In [34]:
df_sorted['日累積雨量'].sum()

'7.415.246.856.20000060.40000.67.23.60.80001625.68.826.84.6000'

#### 成功版

In [20]:
sum = 0
for i in df_sorted['日累積雨量']:
    sum = sum + float(i)

In [21]:
sum

280.0

#### 可以更好：用折線圖呈現每月降雨量