### Moocs: Pandas的loc定位法

In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3),
                 index=list(range(1,6)),
                 columns=list("ABC"))

In [3]:
df

          A         B         C
1  1.609398  0.394399 -0.397510
2  1.132425 -1.550430 -1.808292
3  0.043378  1.191950  0.279618
4  0.031818 -2.349634 -0.216290
5  1.327410  0.189266  1.231486

In [4]:
df[df.B>0]

          A         B         C
1  1.609398  0.394399 -0.397510
3  0.043378  1.191950  0.279618
5  1.327410  0.189266  1.231486

In [6]:
df[df.B>0]["C"] = 0

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
df.loc[2:3, "B":"C"]

         B         C
2 -1.55043 -1.808292
3  1.19195  0.279618

In [9]:
df.loc[2,"B"]

-1.550430209454159

In [10]:
df.loc[2,"B"] = 1

In [11]:
df

          A         B         C
1  1.609398  0.394399 -0.397510
2  1.132425  1.000000 -1.808292
3  0.043378  1.191950  0.279618
4  0.031818 -2.349634 -0.216290
5  1.327410  0.189266  1.231486

In [12]:
df.loc[df.B>0,"C"] = 0

In [13]:
df

          A         B        C
1  1.609398  0.394399  0.00000
2  1.132425  1.000000  0.00000
3  0.043378  1.191950  0.00000
4  0.031818 -2.349634 -0.21629
5  1.327410  0.189266  0.00000